{
    frankenphp
    admin off
}

:{$PORT:80} {
    root * /app/public
    encode zstd br gzip

    header Access-Control-Allow-Origin {header.Origin}
    header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    header Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With, Accept, X-XSRF-TOKEN"
    header Access-Control-Max-Age "86400"

    php_server
}
